.app-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    .app-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 50%;
        justify-content: center;
    }
}
